
.sliderArea {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}
.slick-slide {
  margin: 0 5px;
}
.slick-prev, .slick-next {
  z-index: 1;
}
.slick-prev:before, .slick-next:before {
  color: #000;
}
.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}
.slick-active {
  opacity: 1;
}
.slick-current {
  opacity: 1;
}
.thumb {
  margin: 20px 0 0;
}
.thumb .slick-slide {
  cursor: pointer;
}
.thumb .slick-slide:hover {
  opacity: .7;
}
.slider {
  height:150px;
}
.slide01 {
    display: block;
    background-color: #f44336;
    height:150px !important;
}
.slide02 {
    display: block;
    background-color: #0d47a1;
    height:150px !important;
}
.slide03 {
    display: block;
    background-color: #ffeb3b;
    height:150px !important;
}
table{
border-spacing: 0px;
border-style: solid;
position: relative;
overflow: visible;
}
table td{
border-spacing: 0px;
border-style: solid;
}
.list
{
position: absolute;
z-index: 12;
background: aqua;
border-style: solid;
}
